[Unit]
Description=Virtual can device
After=network-online.target network.target
Before=agl-container-manager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/vcan-setup

[Install]
WantedBy=multi-user.target
